/* The sidebar menu */
* {
  font-family: sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #BD93F9;
}

comment {
  color: #8BE9FD;
}

a:hover {
  color: #fc8403;
}

.body {
  background-color: #151515;
  /* #111111 */
}

h1 {
  padding: 6px 8px 6px 24px;
  text-decoration: none;
  font-size: 24px;
  color: #F8F8F2;
  display: block;
}

h2 {
  text-decoration: none;
  font-size: 20px;
  color: #CCCCCC;
  display: block;
}

p {
  font-size: 18px;
  color: #F8F8F2;
}

ul {
  font-size: 18px;
  color: #F8F8F2;
}

ol {
  font-size: 18px;
  color: #F8F8F2;
}

abstract {
  font-size: 14px;
  color: #F8F8F2;
}

img {
  float: right;
}