/* The sidebar menu */
* {
  font-family: sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: orange;
}

a:hover {
  color: white;
}

.body {
  background-color: black;
  /* Black */
}

h1 {
  padding: 6px 8px 6px 24px;
  text-decoration: none;
  font-size: 24px;
  color: white;
  display: block;
}

h2 {
  text-decoration: none;
  font-size: 20px;
  color: #CCCCCC;
  display: block;
}

p {
  font-size: 18px;
  color: white;
}

ol {
  font-size: 18px;
  color: white;
}

abstract {
  font-size: 14px;
  color: white;
}

img {
  float: right;
}