:root {
  --background: #282a36;
  --foreground: #f8f8f2;
  --color0: #21222c;
  --color1: #ff5555;
  --color2: #50fa7b;
  --color3: #f1fa8c;
  --color4: #bd93f9;
  --color5: #ff79c6;
  --color6: #8be9fd;
  --color7: #f8f8f2;
  --color8: #6272a4;
  --color9: #ff6e6e;
  --color10: #69ff94;
  --color11: #ffffa5;
  --color12: #d6acff;
  --color13: #ff92df;
  --color14: #a4ffff;
  --color15: #ffffff;
  --transparent: rgba(0, 0, 0, 0);
}

* {
  font-family: sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: var(--color4);
}

comment {
  color: var(--color2);
}

a:hover {
  color: var(--color6);
}

.body {
  background-color: var(--background);
}

h1 {
  text-decoration: none;
  font-size: 24px;
  color: var(--foreground);
  display: block;
}

h2 {
  text-decoration: none;
  font-size: 20px;
  color: var(--foreground);
  display: block;
}

p {
  font-size: 18px;
  color: var(--foreground);
}

ul {
  font-size: 18px;
  color: var(--foreground);
}

ol {
  font-size: 18px;
  color: var(--foreground);
}

abstract {
  font-size: 14px;
  color: var(--foreground);
}

img {
  float: right;
}